$color-disabled: lightgray;
$color-highlight: lightsalmon;
$color-text: lighten(black, 7);
$step-margin: 0.5rem;
$bullet-size: 0.75rem;
$line-width: 4px;

.vertical-steps {
    display: flex;
    flex-direction: column;

    .step {
        position: relative;
        display: flex;
        align-items: center;

        &:nth-child(n+2) {
            margin-top: $step-margin;
        }

        .step-bullet,
        .step-label {
            transition: all 350ms ease;
        }

        .step-bullet {
            position: relative;
            display: inline-block;
            height: $bullet-size;
            width: $bullet-size;
            border-radius: 50%;
            background-color: $color-disabled;
            margin-right: 1rem;
            z-index: 2;
        }

        .step-line {
            position: absolute;
            background-color: lighten($color-highlight, 15);
            width: $line-width;
            top: 0;
            bottom: 100%;
            left: calc(#{$bullet-size / 2} - #{$line-width / 2});
            z-index: 1;
        }

        .step-label {
            color: $color-disabled;
            font-size: 1.15rem;
            font-weight: 500;
        }

        &.is-done,
        &.is-current {
            .step-line {
                bottom: calc(50% + #{$bullet-size / 2});
                transition: bottom 250ms ease;
            }
            .step-label {
                color: $color-text;
            }

            &:first-child {
                .step-line {
                    top: calc(50% + #{$bullet-size / 2} - 2px);
                }
            }

        }

        &.is-done {
            .step-line {
                bottom: -$step-margin;
            }
            .step-label {
                cursor: pointer;
            }

            .step-bullet {
                background-color: $color-highlight;
            }
        }

        &.is-current {
            .step-line {
                // add a latency, so it looks line one animation of the line strike
                transition: bottom 250ms ease 200ms;
            }

            .step-bullet {
                background-color: transparent;
                box-shadow:
                    0 0 0 1px $color-highlight,
                    0 0 0 1px $color-highlight inset,
                    0 4px 6px -1px rgba(0, 0, 0, .1),
                    0 2px 4px -1px rgba(0, 0, 0, .06);
            }

            .step-label {
                font-weight: bold;
            }
        }
    }
}